<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="html-head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>싱테리어</title>

    <!-- 부트스트랩 CSS 추가하기 -->
    <link rel="stylesheet" href="/basic_resource/css/bootstrap.min.css">
    <!-- 커스텀 CSS 추가하기 -->
    <link rel="stylesheet" href="/basic_resource/css/custom.css">

    <!-- 제이쿼리 자바스크립트 추가하기 -->
    <script src="/basic_resource/js/jquery.min.js"></script>
    <!-- 부트스트랩 자바스크립트 추가하기 -->
    <script src="/basic_resource/js/bootstrap.min.js"></script>
    <!-- 파퍼 자바스크립트 추가하기 -->
    <script src="/basic_resource/js/popper.js"></script>
</head>