<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foodlist.mapper.RefrigeMapper">
    <select id="findAll" resultType="com.foodlist.domain.Refrige">
        select name, category, shelf_life, img, amount
        from refrige re inner join ingredient ing
        on re.ingredient_id = ing.id
        where re.member_id = #{id};
    </select>

    <select id="addRefrige" parameterType="com.foodlist.domain.RefrigeInsert">
        INSERT INTO REFRIGE VALUES (NULL, #{ingredient_id}, #{member_id}, #{shelf_life}, #{memo}, #{img}, #{amount}, #{name})
    </select>

    <select id="ingFindAll" resultType="com.foodlist.domain.Ingredient">
        select ing.id, ing.name, ca.name as category, img
        from ingredient as ing
        join category as ca
        on ing.category = ca.id;
    </select>

</mapper>